@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.theme-transition * {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.theme-transition {
    transition-duration: 500ms;
}

.theme-transition .navbar-transition {
    transition-duration: 400ms;
}

.theme-transition .gradient-transition {
    transition-duration: 700ms;
}